.typeBtn {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: '#EEF2F3';
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    color: #000;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-right: 10px;
}